// Semantic Color Scheme
$brand-primary: #001E3C !default;

// Navbar
$navbar-border-color: #B7B3EF !default;
$navbar-border-width: 0 0 1px 0 !default;
$navbar-border-style: solid !default;
$navbar-inverse-active-bg: #1b212a !default;

$navbar-inverse-toggler-border: transparent !default;
